Repository CMSgov/design-system, pull requests merged in 2020-04, with the labels that each got.

#664 remove archive folder and old Sketch file
  design-assets/archive/CMS Design System UI kit.sketch
Labels: Ready For Review

#665 [WNMGDS-427] Update Download SVG links for Style Icons
  packages/design-system/src/styles/icons/interaction-icons.example.html
  packages/design-system/src/styles/icons/status-icons.example.html
  packages/design-system/src/styles/icons/supplemental-icons.example.html
Labels: Ready For Review

#669 [WNMGDS-423] - Add focus styles to Sketch UI kit
  design-assets/CMS-Design-System-UI-kit.sketch
Labels: Design, Ready For Review

#670 [WNMGDS-425] - Setup sketch library
  .github/images/Sketch-library-install.png
  README.md
  design-assets/README.md
  design-assets/cms-design-system-ui-kit.xml
  design-assets/fonts/Font-Awesome.zip
  design-assets/fonts/Open-Sans.zip
  guides/RELEASE-PROCESS.md
  packages/design-system-docs/src/pages/index.md
  packages/design-system-docs/src/scripts/components/Header.jsx
Labels: Design, Ready For Review

#673 [WNMGDS-432] Update sketch file to organize color palette
  design-assets/CMS-Design-System-UI-kit.sketch
  design-assets/cms-design-system-ui-kit.xml
Labels: Design, Help Wanted, Ready For Review

#674 [WNMGDS-432] Organize and make better use of Sketch text styles
  design-assets/CMS-Design-System-UI-kit.sketch
  design-assets/cms-design-system-ui-kit.xml
Labels: Design, Help Wanted, Ready For Review

#675 [WNMGDS-435] Update Sketch to organize components
  design-assets/CMS-Design-System-UI-kit.sketch
  design-assets/cms-design-system-ui-kit.xml
Labels: Design, Help Wanted, Ready For Review

#687 [WNMGDS-428]Add default button inverse and transparent button inverse example in docs
  packages/design-system/src/components/Button/button.example.html
Labels: Ready For Review

#676 [WNMGDS-436] Organize Sketch symbols into folders
  design-assets/CMS-Design-System-UI-kit.sketch
  design-assets/cms-design-system-ui-kit.xml
Labels: Design, Ready For Review
